<html>
<head>
    <title>isok</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <meta charset="utf-8">

    {% javascripts '@StaticBundle/Resources/public/js/*'  output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@StaticBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {#<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">#}
    {#<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />#}
    {#<script src="/libs/jquery.min.js"></script>#}

</head>

<body class="home">






<!-- HEADER -->
<header>
    <div class="wrapper cf">

        <div id="logo">
            <div class="logo-wrapper">
                {% image '@StaticBundle/Resources/public/img/logo.png' %}
                <a href="/{% if app.environment == "dev" %}app_dev.php{% endif %}"><img src="{{ asset_url }}" alt="Example" /></a>
                {% endimage %}
            </div>
        </div>

        <!-- nav -->
        <ul id="nav" class="sf-menu">
            <li class="current-menu-item"><a href="index.html">ГЛАВНАЯ</a></li>
            <li ><a href="index.html">БИЗНЕСУ</a></li>
            <li><a href="blog.html">ЧАСТНЫМ ЛИЦАМ</a></li>

        </ul>
        <div id="combo-holder"></div>
        <!-- ends nav -->








    </div>
</header>
<!-- ENDS HEADER -->



<div class="main-wrapper">


    <!-- SLIDER -->
    <div id="home-slider" class="lof-slidecontent">

        <div class="preload"><div></div></div>

        <!-- slider content -->
        <div class="main-slider-content" >
            <ul class="sliders-wrap-inner">
                <li>
                    <img src="img/dummies/slides/01.jpg" title="" alt="alt" />
                    <div class="slider-description">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                            <a class="link" href="#">Read more </a>
                        </p>
                    </div>
                </li>

                <li>
                    <img src="img/dummies/slides/02.jpg" title="" alt="alt" />
                    <div class="slider-description">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                            <a class="link" href="#">Read more </a>
                        </p>
                    </div>
                </li>

                <li>
                    <img src="img/dummies/slides/03.jpg" title="" alt="alt" />
                    <div class="slider-description">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                            <a class="link" href="#">Read more </a>
                        </p>
                    </div>
                </li>

                <li>
                    <img src="img/dummies/slides/04.jpg" title="" alt="alt" />
                    <div class="slider-description">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                            <a class="link" href="#">Read more </a>
                        </p>
                    </div>
                </li>

                <li>
                    <img src="img/dummies/slides/05.jpg" title="" alt="alt" />
                    <div class="slider-description">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                            <a class="link" href="#">Read more </a>
                        </p>
                    </div>
                </li>

                <li>
                    <img src="img/dummies/slides/06.jpg" title="" alt="alt" />
                    <div class="slider-description">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                            <a class="link" href="#">Read more </a>
                        </p>
                    </div>
                </li>

                <li>
                    <img src="img/dummies/slides/07.jpg" title="" alt="alt" />
                    <div class="slider-description">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est...
                            <a class="link" href="#">Read more </a>
                        </p>
                    </div>
                </li>

            </ul>
        </div>
        <!-- ENDS slider content -->

        <!-- slider nav -->
        <div class="navigator-content">
            <div class="navigator-wrapper">
                <ul class="navigator-wrap-inner">
                    <li><img src="img/dummies/slides/01_thumb.jpg" alt="alt" /></li>
                    <li><img src="img/dummies/slides/02_thumb.jpg" alt="alt" /></li>
                    <li><img src="img/dummies/slides/03_thumb.jpg" alt="alt" /></li>
                    <li><img src="img/dummies/slides/04_thumb.jpg" alt="alt" /></li>
                    <li><img src="img/dummies/slides/05_thumb.jpg" alt="alt" /></li>
                    <li><img src="img/dummies/slides/06_thumb.jpg" alt="alt" /></li>
                    <li><img src="img/dummies/slides/07_thumb.jpg" alt="alt" /></li>
                </ul>
            </div>
            <div class="button-next">Next</div>
            <div  class="button-previous">Previous</div>
            <!-- REMOVED TILL FIXED <div class="button-control"><span>STOP</span></div> -->
        </div>
        <!-- slider nav -->



    </div>
    <!-- ENDS SLIDER -->
</div>
















    <div class="container-wrapper">

        <div class="main-wrapper">
            <div class="header-wrapper">
                <div class="logo-wrapper">
                    {% image '@StaticBundle/Resources/public/img/logo.png' %}
                        <a href="/{% if app.environment == "dev" %}app_dev.php{% endif %}"><img src="{{ asset_url }}" alt="Example" /></a>
                    {% endimage %}
                </div>

                <div class="search-wrapper form-group">
                    {% block search %}{% endblock %}
                </div>

                <div class="switchers-wrapper">
                    {% block switchers %}
                        <a href="/{% if app.environment == "dev" %}app_dev.php{% endif %}/business/" class="btn btn-primary" >Бизнесу</a>
                        <a href="/{% if app.environment == "dev" %}app_dev.php{% endif %}/client/"  class="btn btn-success" > Частным лицам</a>
                    {% endblock %}
                </div>

            </div>


            <div class="main-content">
                {% block content %}

                    <div class="description-wrapper">
                        Сервис, оказывающий услугу добровольной сертификации интернет предпринимателей по обращению,
                        как потребителя, так и магазина. С размещением подробной проверенной информации
                        о предпринимателе взятой из интернета, фактической проверки и результатах сертификации
                        на нашем ресурсе. Дополнительные возможности получают в личном кабинете как потребители
                        так и предприниматели ( рекомендации , отзывы, предложения в обмен на скидки, бонусы и призы)
                        Оказание консультаций предпринимателю и потребителю в урегулировании споров
                        связанных с торговлей. Увеличение % лояльных клиентов в Интернет-торговле, выявление и борьба
                        с мошенниками и недобросовестными продавцами в интернете. Помощь в развитии и продвижению малому
                        и среднему бизнесу, продающему качественные услуги и товары.
                    </div>

                    <div class="video-wrapper">
                        {% image '@StaticBundle/Resources/public/img/not-found.png' %}
                        <img src="{{ asset_url }}" alt="Example" />
                        {% endimage %}
                    </div>

                {% endblock %}
            </div>



        </div>


        <div class="footer-wrapper">
            <div class="our-contacts">Наши контакты:</div>
            <p>Email: test@te.te </p>
            <p>Телефон: +380971112233</p>
        </div>



    </div>

</body>
